
{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'movie_upload' %}">Movie Upload</a>
    </li>
  </ul>

  <p>Available Movies:</p>
  <ul>
    {% for obj in movies %}
      <li>
        <a href="{{ obj.file_path.url }}">{{ obj.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
