<!DOCTYPE html>
<html>
  <body>
    <h2>{{ movie.name }}</h2>
    <video width="400" controls>
      <source src="{{ MEDIA_URL }}{{ movie.path}}" type="video/mp4"></source>
    </video>
  </body>
</html>
